.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .home-blur {
        width: 70%;
        height: 1000px;
        background-color: rgba($color: #000000, $alpha: 0.15);
        text-align: left;
        .home-page--title {
            font-size: 50px;
            font-weight: 600;
            padding-left: 80px;
            color: #fff;
        }
        .auth-buttons {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding-left: 80px;
            color: #fff;
            font-size: 20px;
            text-align: center;
            vertical-align: middle;
            padding-top: 30px;
            .login-button {
                width: 235px;
                height: 70px;
                background-color: #44DAE7;
                border-radius: 8px;
                cursor: pointer;
                z-index: 3;
            }
            .signUp-button {
                cursor: pointer;
                width: 120px;
                height: 70px;
                background-color: #34F7D5;
                border-radius: 8px;
                z-index: 3;
            }
        }
        .meme {
            width: 500px;
            height: 445px;
            position: absolute;
            left: 1220px;
            top: 300px;
            border-radius: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 5;
        }
        .cat-first {
            padding-top: 193px;
        }
        .cat-second {
            scale: 150%
        }
    }
    .decorative-line {
        position: absolute;
        left: 56px;
        top: 140px;
        rotate: 25deg;
    }

    .hamsters-facts--blur {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: linear-gradient(216.44deg, rgba(192, 169, 240, 0.1) -11.15%, rgba(192, 169, 240, 0.1) -1.04%);
        min-height: 700px;
        .hamsters-facts--page {
            width: 70%;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;

            .hamsters-facts--title {
                padding-top: 70px;
                font-size: 48px;
                font-weight: 600;
                color: #131313;
            }
            .hamsters-facts--accordions {
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }
    }
    .blurred-things {
        position: absolute;
        z-index: -2;
        filter: blur(15px);
        @keyframes levitate {
            0%, 100% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-20px);
            }
        }
        .cylinder--1 {
            position: absolute;
            left: -500px;
            top: 140px;
            rotate: -35deg;
            animation: levitate 4s ease-in-out infinite;
        }
        .cylinder--2 {
            position: absolute;
            left: 210px;
            top: 450px;
            rotate: 25deg;
            animation: levitate 7s ease-in-out infinite;
        }
        .triangle--1 {
            position: absolute;
            left: -380px;
            top: 530px;
            rotate: -87deg;
            scale: 60%;
            animation: levitate 5s ease-in-out infinite;
        }
    }
}

.login-modal {
    .login-modal--title {
        font-size: 60px;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }  
}