.gustavo {
    display: flex;
    justify-content: center;
    .gustavo--body {
        width: 70%;
        .settings {
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            padding-bottom: 30px;
            gap: 15px;
        }
    }
}